<div class="container-fluid">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Libelle</th>
      <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
    <span *ngIf="loading" class="spinner-border spinner-border-lg"></span>
    <tr *ngFor="let transaction of transactions; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{transaction.userLibelle}}</td>
      <td>{{transaction.dateCreation | date}}</td>
    </tr>
    </tbody>
  </table>
</div>
