<div class="container-fluid">
  <table class="table table-striped table-hover table-sm">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Libelle</th>
      <th scope="col">Bank Libelle</th>
      <th scope="col">Bank Detail</th>
      <th scope="col">Date</th>
      <th scope="col">Montant</th>
      <th scope="col">Solde</th>
    </tr>
    </thead>
    <tbody>
    <tr [class.table-warning]="!transaction.isPointe"  (dblclick)="openTransactionEditDialog(transaction)"
        *ngFor="let transaction of transactions$ | async; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{transaction.userLibelle}}</td>
      <td>{{transaction.bankLibelle}}</td>
      <td>{{transaction.bankDetail}}</td>
      <td>{{transaction.dateCreation | date}}</td>
      <td>{{transaction.amount}}</td>
      <td>{{transaction.currentSolde | number}}</td>
    </tr>
    </tbody>
  </table>
</div>
