<div class="container-fluid">
  <table class="table table-striped table-hover table-sm">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Libelle</th>
      <th scope="col">Bank Libelle</th>
      <th scope="col">Bank Detail</th>
      <th scope="col">Category</th>
      <th scope="col">Date</th>
      <th scope="col">Montant</th>
      <th scope="col">Solde</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr [class.table-warning]="!transaction.isPointe"  (dblclick)="openTransactionEditDialog(transaction)"
        *ngFor="let transaction of transactions$ | async | sortTransactionByDate; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{transaction.userLibelle}}</td>
      <td>{{transaction.bankLibelle}}</td>
      <td>{{transaction.bankDetail}}</td>
      <td>{{getCategoryName(transaction)}}</td>
      <td>{{transaction.dateCreation | date}}</td>
      <td>{{transaction.amount}}</td>
      <td>{{transaction.currentSolde | number}}</td>
      <td>
        <button *ngIf="!transaction.isPointe"><i class="fa fa-check-circle" (click)="pointTransaction(transaction)"></i></button>
        <button><i class="fa fa-trash-o" (click)="deleteTransaction(transaction)"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
