<div class="container-fluid">
  <div class="row">
    <div class="col-12 myClass">
      <ngx-charts-bar-vertical
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxis]="true"
        [yAxis]="true"
        [animations]="true"
        [results]="chartDatas"
        [scheme]="colorScheme"
        [showDataLabel]="true"
      >
      </ngx-charts-bar-vertical>
    </div>
  </div>
  <div class="row">
    <div class="col-auto">
      Votre situation patrimoniale représente {{soldeTotal | number}}€. Votre actif a augmenté
      de {{lastEvol | number}}€. Il y a un an, votre situation patrimoniale représentait {{lastYearSolde | number}}€
    </div>
  </div>
</div>
