<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <ngx-charts-bar-vertical-2d
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxis]="true"
        [yAxis]="true"
        [animations]="true"
        [results]="chartDatas"
      >
      </ngx-charts-bar-vertical-2d>
    </div>
    <div class="col-6">
      <table class="table">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">{{(previousMonthStat$| async).month}}</th>
          <th scope="col">{{(currentMonthStat$ | async).month}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">Total des revenus</th>
          <td>{{(previousMonthStat$ | async).revenus| number}}</td>
          <td>{{(currentMonthStat$ | async).revenus| number}}</td>
        </tr>
        <tr>
          <th scope="row">Total des dépenses</th>
          <td>{{(previousMonthStat$ | async).depenses | number}}</td>
          <td>{{(currentMonthStat$ | async).depenses | number}}</td>
        </tr>
        <tr>
          <th scope="row">Epargne éventuelle</th>
          <td>{{epargnePreviousMonth$ | async | number}}</td>
          <td>{{epargneCurrentMonth$ | async | number}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <ul>
      <li>En {{(currentMonthStat$ | async).getMonthAsLanguage()}}, vous avez épargné {{epargneCurrentMonth$ | async | number}}€ par rapport à {{(previousMonthStat$ | async).getMonthAsLanguage()}}</li>
      <li>Le total de vos revenus ce mois ci s'élevait à {{(currentMonthStat$ | async).revenus | number}}€. Cela représente un différence de {{(currentMonthStat$ | async).revenus - (previousMonthStat$ | async).revenus | number}}€ par rapport a {{(previousMonthStat$ | async).getMonthAsLanguage()}}</li>
    </ul>
  </div>
</div>
