<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Bank</th>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
      <th scope="col">Owners</th>
    </tr>
    </thead>
    <tbody>
      <tr [class.table-warning]="account.nbNonChecked !== 0" *ngFor="let account of accountsSortedByName ; index as i"
          routerLink="/account/{{account.accountName}}">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{account.accountName}} <b *ngIf="account.nbNonChecked !== 0">({{account.nbNonChecked}})</b></td>
        <td>{{account.accountName}}</td>
        <td>{{account.solde | number}}</td>
        <td>{{account.owners}}</td>
      </tr>
    </tbody>
  </table>
</div>
