<div class="container">
  <mat-accordion [multi]="true">
    <mat-expansion-panel *ngFor="let owner of familyMembers$ | async; index as iPanel" [expanded]="iPanel === 0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{owner.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Bank</th>
              <th scope="col">Name</th>
              <th scope="col">Amount</th>
              <th scope="col">Owners</th>
            </tr>
            </thead>
            <tbody>
            <tr [class.table-warning]="account.nbNonChecked !== 0"
                *ngFor="let account of getMemberAccountsSortedByName(owner) ; index as i"
                routerLink="/account/{{account.accountName}}">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{account.bankName}}</td>
              <td>{{account.accountName}}
                <b *ngIf="account.nbNonChecked !== 0">({{account.nbNonChecked}})</b>
                <b class="text-danger" *ngIf="account.nbAnomalies !== 0">(ANOMALIES : {{account.nbAnomalies}})</b></td>
              <td>{{account.solde | number}}</td>
              <td>{{account.owners}}</td>
            </tr>
            </tbody>
          </table>
    </mat-expansion-panel>
  </mat-accordion>

</div>

