<div class="container">
  <div class="row">
    <ng-select [items]="filterFamilyMember$ | async"
               [multiple]="true"
               [hideSelected]="true"
               bindLabel="name"
               autofocus
               bindValue="name"
               [(ngModel)]="filterFamilyMemberSelected"
               (change)="filterFamilyMemberChange()">
    </ng-select>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Bank</th>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Owners</th>
      </tr>
      </thead>
      <tbody>
      <tr [class.table-warning]="account.nbNonChecked !== 0" *ngFor="let account of accountsSortedByName ; index as i"
          routerLink="/account/{{account.accountName}}">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{account.bankName}}</td>
        <td>{{account.accountName}}
          <b *ngIf="account.nbNonChecked !== 0">({{account.nbNonChecked}})</b>
          <b class="text-danger" *ngIf="account.nbAnomalies !== 0">(ANOMALIES : {{account.nbAnomalies}})</b></td>
        <td>{{account.solde | number}}</td>
        <td>{{account.owners}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
