<div class="modal-header">
  <h4 class="modal-title">{{transaction.userLibelle}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close(null)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng-template #rt let-r="result" let-t="term">
    <ngb-highlight [result]="r.userLibelle" [term]="t"></ngb-highlight>
  </ng-template>
  <label for="addon-libelle"><h4>Libelle : </h4></label>
  <div id="addon-libelle" class="input-group mb-3">
      <input id="typeahead-http" type="text" class="form-control mx-sm-3"
             [(ngModel)]="transactionTypeAHead"
             [ngbTypeahead]="searchUserLibelle"
             [resultTemplate]="rt"
             [inputFormatter]="typeaheadFormatter"
             (selectItem)="updateTransactionWithTypeAHead($event)"
             placeholder="Please set your libelle" />
      <small *ngIf="isLoadingResult" class="form-text text-muted">searching...</small>
  </div>
  <label for="addon-bankLibelle"><h4>Bank Libelle : </h4></label>
  <div id="addon-bankLibelle" class="input-group mb-3">
    <input type="text" readonly class="form-control" [(ngModel)]="transaction.bankLibelle" name=bankLibelle>
  </div>
  <label for="addon-info"><h4>Info : </h4></label>
  <div class="row" id="addon-info">
    <div class="input-group col-4">
        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="accountDate" ngbDatepicker #datebankNameRef="ngModel" #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
        </div>
    </div>
    <div class="input-group col-4">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-euro"></i></span>
      </div>
      <input type="number" class="form-control"
             placeholder="Amount" aria-label="Amount"
             required
             [(ngModel)]="transaction.amount" name=amount #accountNameRef="ngModel">
    </div>
    <div class="form-check col-4">
      <input type="checkbox" class="form-check-input"
             required
             [(ngModel)]="transaction.isPointe" id="checkIsPointe" name=isPointe #accountNameRef="ngModel">
      <label class="form-check-label" for="checkIsPointe">Checked ?</label>
    </div>
  </div>
    <div class="card mt-4 col-12">
      <h4 class="card-header">Ventilations
        <button class="float-md-right" (click)="addNewVentilation()"><i class="fa fa-plus"></i></button>
      </h4>
      <div class="card-body">
        <div class="row">
          <div class="col-6">Category</div>
          <div class="col-6">Montant</div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let ventilation of transaction.ventilations">
            <app-ventilation-edit [ventilation]="ventilation" (ventilationRemoveEvent)="removeVentilation(ventilation)"></app-ventilation-edit>
          </li>
        </ul>
      </div>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" ngbAutofocus (click)="updateTransaction()">Update
  </button>
</div>
