<app-homepage-toolbar></app-homepage-toolbar>

<header id="page-top" [ngStyle]="{background: 'url(./assets/home/header-bg.jpg)'}">
  <div class="container">

    <div class="row">
      <div class="col">
        <h1><p class="text-center text-white">Bienvenue sur moneyWeb !</p></h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1><p class="text-center text-white">Envie de mieux gérer votre argent !</p></h1>
      </div>
    </div>
    <form (ngSubmit)="onConnect()" #loginForm="ngForm">
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input id="login" type="text" class="form-control"
                   placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"
                   required
                   [(ngModel)]="loginInfo.login" name="login">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon2"><fa name="key"></fa></span>
            </div>
            <input id="password" type="password"
                   class="form-control" placeholder="Your Password *" aria-label="Password"
                   aria-describedby="basic-addon2"
                   required
                   [(ngModel)]="loginInfo.password" name="password">
          </div>
        </div>
        <div class="col-6 align-self-center">
          <button type="submit" class="btn btn-warning btn-lg" [disabled]="loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Se connecter
          </button>
          <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col text-white">
        <div class="text-white intro-lead-in">ou</div>
      </div>
    </div>
    <div class="col-md-12 align-self-center">
      <a routerLink="/accountCreate" class="btn btn-warning btn-lg active" routerLinkActive="active">Créer un compte</a>
    </div>
  </div>
</header>
