<app-homepage-toolbar></app-homepage-toolbar>

<header id="page-top" [ngStyle]="{background: 'url(./assets/home/header-bg.jpg)'}">
  <div class="container">

    <div class="row">
      <div class="col">
        <h1><p class="text-center text-white">Bienvenue sur moneyWeb !</p></h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1><p class="text-center text-white">Envie de mieux gérer votre argent !</p></h1>
      </div>
    </div>
    <div class="row">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
               aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon2"><fa name="key"></fa></span>
        </div>
        <input type="password" class="form-control" placeholder="Your Password *" aria-label="Password"
               aria-describedby="basic-addon2">
      </div>
    </div>
    <div class="col-md-6">
      <button type="submit" class="btn btn-warning btn-lg">Se connecter</button>
    </div>
    <div class="col-xs-12">
      <div class="intro-lead-in">ou</div>
    </div>
    <div class="col-md-12">
      <a href="#" class="btn btn-warning btn-lg active">Découvrir le site</a>
    </div>
  </div>
</header>
