<div class="container-fluid">
  <div class="row">
    <div class="col-12 myClass">
      <ngx-charts-area-chart
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxis]="true"
        [yAxis]="true"
        [animations]="true"
        [results]="chartDatas"
        [scheme]="colorScheme"
      >
      </ngx-charts-area-chart>
    </div>
  </div>
  <div class="row">
    <div class="col-auto">
      En se basant sur l épargne moyenne de l année précédente, en {{nextYearDate | date}} votre situation patrimoniale sera de
      {{nextYearSolde | number}}€. Votre actif aura augmenté de {{nextYearEvol | number}}€.
    </div>
  </div>
</div>

